@import "variables.scss";

.featured {
    background-color: $color-primary;

    h1 {
        color: white;
        font-family: $font-serif;
    }

    .btn-primary {
        &:hover {
            background-color: black !important;
            border-color: black !important;
        }
    }

    @media all and (max-width: $max-width) {
        h1 {
            font-size: 2rem;
            margin-bottom: 40px;
        }
    }
}