@import "variables.scss";

header {
    font-family: $font-serif;
    padding-top: 150px;
    padding-bottom: 70px;

    h1 {
        font-size: 3rem;
        font-weight: bold;
    }

    h2 {
        font-size: 1.4rem;
        color: $color-primary;
        font-weight: bold;
    }

    a.nav-back,
    a.nav-back:link {
        color: #00000080;
        font-size: 1.3rem;
        display: inline-block;
        margin-top: 30px;
    }

    a.nav-back:hover {
        color: $color-primary;
        text-decoration: none;
    }
}