@import "variables.scss";

.main-image {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 30px;

    .image {
        background-color: gray;
        min-height: 320px;
        width: 100%;
        border-radius: 5px;
        -moz-border-radius: 5px;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    @media all and (max-width: $max-width) {
        .image {
            min-height: 220px;
        }
    }
}